<div class="container text-center">
  <div class="flickr_pagination d-flex justify-content-center">
    <%= will_paginate @followers %>
  </div>
  <div class="d-flex flex-wrap">
    <% @followers.each do | follower | %>
      <%if current_user != follower %>
        <%= render 'card', c: follower %>
      <% else %>
        <p> You currently follow to <%= @user.username %></p> 
      <% end %>

    <% end %>
  </div>
  <div class="flickr_pagination d-flex justify-content-center">
    <%= will_paginate @followers %>
  </div>
</div>
