<div class="container text-center">
  <h1> Follow by Username </h1>
  <%= form_with( url: follow_username_create_path,
  local: true) do |f| %>
  <div>
    
    <%= f.text_field :followee_id, placeholder: "Write username"  %></div>
    <%= f.submit "Follow", class: "btn btn-primary m-2" %>
  <% end %>
</div>
