<div class="container text-center">
  <%= link_to "Follower another user", follow_username_path %>
  <div class="flickr_pagination d-flex justify-content-center">
    <%= will_paginate @followees %>
  </div>
  <div class="d-flex flex-wrap">
    <% @followees.each do | followee | %>
        <%= render 'card', c: followee %>
    <% end %>
  </div>
  <div class="flickr_pagination d-flex justify-content-center">
    <%= will_paginate @followees %>
  </div>
</div>
