<div class="container text-center">
   <div class="flickr_pagination d-flex justify-content-center">
      <%= will_paginate @users %>
    </div>
   <div class="d-flex  justify-content-center flex-wrap">
         <% @users.each do |user| %>
          <%= render 'card', c: user %>
      <% end %>
   </div>
   <div class="flickr_pagination d-flex justify-content-center">
      <%= will_paginate @users %>
    </div>

</div>
